

<div class="right_align">
    <%= link_to("create product",new_admin_output_bill_path(:owner_type=>"Product"),{:class=>"popup"})%> &nbsp;&nbsp; <%= link_to("create workshop",new_admin_output_bill_path(:owner_type => "Workshop"),{:class=>"popup"})%>
</div>
<h3>入库单列表</h3>
<%=notice%>
<%= table_for(@delivery_vouchers) {|item,col|
    @delivery_voucher = item
    col.add :material, item.material.show_name
    col.add :brand, item.brand.show_name
    col.add :amount,    in_place_editor_field(:delivery_voucher,:amount)
    col.add :owner,    item.owner.name
    col.add :desc,  item.desc
    col.add :receiver, item.receiver.try(:login)
    col.add "录入人",   item.user.login
    col.add :action,  link_to("delete",admin_input_bill_path(item),{:method=>:delete})  
}%>