<br/>
<div class="right_align">
    <%= link_to("新建",new_admin_product_path,{:class=>"popup"})%>
</div>
<h3>产品列表</h3>
<%=notice%>
<%= table_for(@products) {|item,col|
    @product = item
    col.add "名称",in_place_editor_field(:product,:name)
    col.add "客户名称",in_place_editor_field(:product,:customer_name)
    col.add "客户电话",in_place_editor_field(:product,:customer_phone)
    col.add "类别",ListItem.name_by_type_and_value("p_class",item.p_class) 
    col.add "状态",    ListItem.name_by_type_and_value("status",item.status)
    col.add "收件日期",  item.started_at.strftime("%Y-%m-%d")
    col.add "完成日期",   in_place_editor_field(:product,:finished_at)
    col.add "负责人", item.user.login
    col.add "录入人", item.register.login
    col.add "费用记录",  ""
    col.add "配件情况",  ""
    col.add "操作", link_to("查看",admin_product_path(item)) + link_to("修改",edit_admin_product_path(item),{:class => "popup"}) + link_to("删除",admin_product_path(item),{:method=>:delete})  
}%>
