<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Hua Zhong CRM</title>
    <%= javascript_include_tag :all%>
    <%= stylesheet_link_tag 'frame'%>
  </head>
  <body>
    
    <div id="header">
      here is header , some pic and description
    </div>
    
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
    </div>
    
  </body>
</html>
